<div class="post-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article?.title }}</h1>

      <div class="post-meta">
        <a href="profile.html">
          <img alt="" src="http://i.imgur.com/Qr71crq.jpg" />
        </a>
        <div class="info">
          <a href="profile.html" class="author">{{ article?.author }}</a>
          <span class="date">{{ article?.createdAt }}</span>
        </div>
        <button class="btn btn-sm btn-outline-secondary">
          <em class="ion-plus-round"></em>
          &nbsp; Follow Eric Simone
          <span class="counter">(10)</span>
        </button>
        &nbsp;&nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <em class="ion-heart"></em>
          &nbsp; Favorite Post
          <span class="counter">(29)</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row post-content">
      <div class="col-md-12">
        {{ article?.body }}
      </div>
    </div>

    <hr />

    <div class="post-actions">
      <div class="post-meta">
        <a href="profile.html">
          <img alt="" src="http://i.imgur.com/Qr71crq.jpg" />
        </a>
        <div class="info">
          <a href="profile.html" class="author">{{ article?.author }}</a>
          <span class="date">{{ article?.createdAt }}</span>
        </div>

        <button class="btn btn-sm btn-outline-secondary">
          <em class="ion-plus-round"></em>
          &nbsp; Follow Eric Simone
          <span class="counter">(10)</span>
        </button>
        &nbsp;
        <button class="btn btn-sm btn-outline-primary">
          <em class="ion-heart"></em>
          &nbsp; Favorite Post
          <span class="counter">(29)</span>
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class="card-block">
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer">
            <a href="profile.html" class="comment-author">
              <img
                alt=""
                src="http://i.imgur.com/Qr71crq.jpg"
                class="comment-author-img"
              />
            </a>
            &nbsp;
            <a href="profile.html" class="comment-author">{{
              article?.author
            }}</a>
            <span class="date-posted">{{ article?.createdAt }}</span>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
          </div>
          <div class="card-footer">
            <a href="profile.html" class="comment-author">
              <img
                alt=""
                src="http://i.imgur.com/Qr71crq.jpg"
                class="comment-author-img"
              />
            </a>
            &nbsp;
            <a href="profile.html" class="comment-author">Jacob Schmidt</a>
            <span class="date-posted">Dec 29th</span>
            <span class="mod-options">
              <em class="ion-edit"></em>
              <em class="ion-trash-a"></em>
            </span>
          </div>
        </div>

        <div class="card-block">
          <textarea
            class="form-control"
            placeholder="Write a comment..."
            rows="3"
          ></textarea>
        </div>
        <div class="card-footer">
          <img
            alt=""
            src="http://i.imgur.com/Qr71crq.jpg"
            class="comment-author-img"
          />
          <button class="btn btn-sm btn-primary">Post Comment</button>
        </div>
      </div>
    </div>
  </div>
</div>
